body{
	background-color:#50727B;
	text-align: justify;
}
h1{
	background:#ECB159;
	color: #940B92;
	border: solid;
	border-color:#fdf7f7;
	border-radius: 20px;
	padding: 40px;
	text-align: center;
}
*{
	padding: 1px;
	margin: 0px;
}
#header{
	margin: auto;
	width: 750px;
	
}
ul, ol{
	list-style: none;
}
.nav li a {
	background-color: #000;
	color: #fff;
	text-decoration: none;
	padding: 10px 15px;
	display: block;
}
.nav > li{
	float: left;
}
.nav li a:hover{
	background-color: #696666;
}